body {
	background-color: #f6f5f5;
	color: #333;
	font: normal 14px OpenSans, sans-serif;
}

.app-box {
	background-color: #fff;
	width: 500px;
	margin: 40px auto 0;
	padding: 0;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
}

.app-box header {
	text-align: center;
	padding: 42px 0;
	border-bottom: 1px dashed #e5e5e5;
}

.app-box h1 {
	margin: 0;
	font-weight: 700;
	font-size: 30px;
}

.app-box form {
	text-align: center;
	padding: 20px;
	margin: 0;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.app-box form input {
	width: 285px;
	height: 20px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #b7b6b6;
	vertical-align: middle;
	background-color:  #fefefe;
	box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.75);
	font: normal 14px OpenSans, sans-serif;
	text-indent: 2px;
}

.app-box form button {
	width: 145px;
	height: 42px;
	border-radius: 5px;
	font: 700 13px OpenSans, sans-serif;
	line-height: 24px;
	border: 1px solid #b7b6b6;
	vertical-align: middle;
	color: #000000;
	text-shadow: 1px 0 4px rgba(152, 152, 152, 0.4);
	background: linear-gradient(to top, #d6d5d3, #ebeae9);
}

.app-box ul {
	padding: 0;
	margin: 0;
	border-bottom: 1px dashed #e5e5e5;
}

.app-box ul li {
	list-style: none;
	padding-left: 20px;
	line-height: 50px;
}

.app-box ul li.done {
	text-decoration: line-through;
	color: #999999;
}

.app-box ul li:nth-child(odd) {
	background-color: #f4f7fa;
}

.app-box ul li input[type=checkbox] {
	margin-right: 10px;
}

.app-box footer {
	padding: 20px;
	font-size: 13px;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.app-box footer > span {
	color: #999999;
}

.app-box footer a {
	color:  #448ccb;
	cursor: pointer;
}